.name {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px auto;
    border: none;
    background: rgb(66, 140, 209);
    background: linear-gradient(45deg, rgb(30, 112, 189) 10%, rgb(124, 212, 235) 100%);
    border-radius: .75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: 700;
    padding: .625rem;
    position: relative;
    bottom: 0;
    text-decoration: none;
    transition: .2s;
    width: 10rem;
}