.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-home {
    font-size: 44px;
    font-family: sans-serif;
}

.btn {
    padding: 10px 15px;
    margin: 30px auto;
    background-color: $btn-background;
    color: $color;
    cursor: pointer;
}

@mixin text-style($color, $font-size, $font-family) {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
}