.container {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 4px 4px 16px -8px rgba(0, 0, 0, 0.25);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width: fit-content;
}

.avatar {
    border-radius: 100%;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.5);
    margin: 2rem 0 1rem;
}

.container>div {
    border-top: solid 1px rgb(66, 140, 209);
    padding: 1rem 2.5rem;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.links>a {
    background: rgb(66, 140, 209);
    background: linear-gradient(45deg, rgb(30, 112, 189) 10%, rgb(124, 212, 235) 100%);
    border-radius: .75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: 700;
    padding: .625rem;
    position: relative;
    bottom: 0;
    text-decoration: none;
    transition: .2s;
    width: 10rem;
}

.links>a:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    bottom: .25rem;
}