.btn {
    width: 125px;
    padding: 10px 0px;
    border-radius: 20px;
    display: block;
    margin-top: 10px;

    &.yellow-btn { 
        background-color: yellow;
    }

    &.blue-btn { 
        background-color: blue;
        color: white;
    }
}

.purple-btn {
    @extend .btn;

    background-color: purple;
    color: white;
}
