@import "colors/colors.scss";

@mixin text-style ($color, $font-size, $font-family) {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
}

.texts {
    h1 {
        @include text-style($primary-color, 34px, Arial)
    }

    p {
        @include text-style($secondary-color, 22px, sans-serif)
    }
}